/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 18px;
    color: #555;
    text-align: center;
    padding: 10px;
}

/* Fügt einen schönen Hintergrund und Padding zu deinem Text hinzu */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    padding: 10px;
    max-width: 800px; /* Maximale Breite */
    text-align: center;
    margin: 0 auto; /* Zentriert das nav-Element horizontal */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Zeigt die Listenelemente nebeneinander an */
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Styling für den Button */
#changeTextBtn {
    display: inline-block; /* Macht den Button sichtbar */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Grün */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#changeTextBtn:hover {
    background-color: #45a049; /* Etwas dunkleres Grün beim Hover */
}